/* You can add global styles to this file, and also import other style files */

@use 'sass:map';
@use 'material';
@use 'constants';
@use 'own-components/labeled-data';

html, body {
	height: 100%;
	background-color: var(--default-background-color);
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.language-panel {
	padding: 1rem 2rem;
}

.graph-container {
	svg {
		max-width: 100%;
	}
}